*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #27231c;
    font-size: 16px;
    color: white;
}

.container{
    max-width: 1220px;
    margin: auto;
}

/*HEADER-NAVBAR-HERO*/
header{
    background-image: url(images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: brown;
    min-height: 650px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    flex-wrap: wrap;
}
nav > button{
    display: none;
}
ul{
    list-style-type: none;
    display: flex;
}
li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.intro{
/*    background-color: blueviolet;*/
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.intro > div{
    text-align: center;
}
.intro h6{
    font-size: 150%;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
.intro h1{
    font-size: 500%;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    border-bottom: solid 1px #ff4373;
    border-bottom-width: 2px;
    padding: 20px 0px;
}
.intro button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 40px;
    color: #ff4373;
    font-weight: bold;
}
.intro button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}


/*CONTACT-LINKS*/
.contact-links{
    display: flex;
    padding: 15px 0px;
    margin-bottom: 90px;
}
.contact-links > div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-links i{
    font-size: 25px;
    padding: 20px;
}


/*SECTION-ONE*/
#one .column{
    display: flex;
    height: 525px;
}
#one .column > div{
    width: 50%;
}
#one .column h2{
    font-size: 45px;
    font-weight: normal;
    padding: 20px 0px;
}
#one .about-me-wraper{
    display: flex;
}
#one .about-me-wraper > div{
    width: 50%;
}
#one .about-me-wraper .about{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#one .about-me-wraper .artist{
    background-image:  url(images/about-me-image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
#one .text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}
#one .text p{
    line-height: 30px;
}
#one .text-wraper button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 40px;
    color: #ff4373;
    font-weight: bold;
}
#one .text-wraper button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}