*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #27231c;
    font-size: 15px;
    color: white;
    font-family: 'Abhaya Libre';
}









/*UNIVERSAL-STYLE*/
.container{
    max-width: 1220px;
    margin: auto;
}
.column{
    display: flex;
    align-items: center;
}
.column > div{
    width: 50%;
}
h2{
    font-size: 45px;
    font-weight: normal;
/*    padding: 20px 0px;*/
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    line-height: 30px;
    font-family: 'Arial';
    letter-spacing: 1px;
}
section{
      margin-top: 60px;
}



/*HEADER with NAVBAR = HERO*/
header{
    background-image: url(/images/hero.for.contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 550px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    flex-wrap: wrap;
}
nav button{
    display: none;
}
nav #ul{
    list-style-type: none;
    display: flex;
}
li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: 'Arial';
    letter-spacing: 1px;
}



/*INTRO*/
.intro{
/*    background-color: blueviolet;*/
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.intro > div{
    text-align: center;
}
.intro h6{
    font-size: 150%;
    font-weight: normal;
    padding: 20px 0px;
}
.intro h1{
    font-size: 500%;
    font-weight: normal;
    padding: 20px 0px;
}
.intro p{
    width: 80%;
    margin: auto;
    line-height: 30px;
}
.intro button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 40px;
    color: #ff4373;
    font-weight: bold;
}
.intro button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}




/*SECTION-TWO*/
.contact-form{
    background-color: white;
    color: black;
    padding: 70px 60px;
}
form input, button{
    display: block;
}
.contact-form input{
    font-size: 16px;
    padding: 15px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #eaeaea;
    background-color: #fafafa;
    margin: 20px 0px;
}
textarea{
    width: 100%;
    padding: 15px;
    height: 130px;
    font-size: 16px;
    font-family: arial;
    outline: none;
    border: solid 1px #eaeaea;
    background-color: #fafafa;
}
.contact-info{
    padding: 90px;
}
.contact-info-wrapper > div{
    margin: 50px 0px;
}
button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 20px;
    color: #ff4373;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}



/*SECTION-THREE*/
#map{
    background-color: darkred;
    height: 500px;
}



/*FOOTER*/
.footer-background-image{
    background-image: url(/images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer > div:nth-child(odd){
    text-align: center;
    width: 73%;
    margin: auto;
}
footer > div{
    padding: 75px 0px;
}
footer p{
    padding: 30px 0px;
}
footer button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 40px;
    color: #ff4373;
    font-weight: bold;
}
footer button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}
footer #copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}