*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #27231c;
    font-size: 15px;
    color: white;
    font-family: 'Abhaya Libre';
}









/*UNIVERSAL-STYLE*/
.container{
    max-width: 1220px;
    margin: auto;
}
.column{
    display: flex;
    align-items: center;
}
.column > div{
    width: 50%;
}
h2{
    font-size: 45px;
    font-weight: normal;
/*    padding: 20px 0px;*/
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    line-height: 30px;
    font-family: 'Arial';
    letter-spacing: 1px;
}
section{
      margin-top: 60px;
}



/*HEADER with NAVBAR = HERO*/
header{
    background-image: url(/images/hero.for.contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 550px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    flex-wrap: wrap;
}
nav button{
    display: none;
}
nav #ul{
    list-style-type: none;
    display: flex;
}
li > a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: 'Arial';
    letter-spacing: 1px;
}



/*INTRO*/
.intro{
/*    background-color: blueviolet;*/
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.intro > div{
    text-align: center;
}
.intro h6{
    font-size: 150%;
    font-weight: normal;
    padding: 20px 0px;
}
.intro h1{
    font-size: 500%;
    font-weight: normal;
    padding: 20px 0px;
}
.intro p{
    width: 80%;
    margin: auto;
    line-height: 30px;
}
.intro button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 40px;
    color: #ff4373;
    font-weight: bold;
}
.intro button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}




/*SECTION-TWO*/
.contact-form{
    background-color: white;
    color: black;
    padding: 70px 60px;
}
form input, button{
    display: block;
}
.contact-form input{
    font-size: 16px;
    padding: 15px;
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #eaeaea;
    background-color: #fafafa;
    margin: 20px 0px;
}
textarea{
    width: 100%;
    padding: 15px;
    height: 130px;
    font-size: 16px;
    font-family: arial;
    outline: none;
    border: solid 1px #eaeaea;
    background-color: #fafafa;
}
.contact-info{
    padding: 90px;
}
.contact-info-wrapper > div{
    margin: 50px 0px;
}
button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 20px;
    color: #ff4373;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}



/*SECTION-THREE*/
#maMap{
    background-color: maroon;
    height: 500px;
}



/*FOOTER*/
.footer-background-image{
    background-image: url(/images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer > div:nth-child(odd){
    text-align: center;
    width: 73%;
    margin: auto;
}
footer > div{
    padding: 75px 0px;
}
footer p{
    padding: 30px 0px;
}
footer button{
    padding: 20px 40px;
    background-color: inherit;
    outline: none;
    border: solid 2px #ff4373;
    margin-top: 40px;
    color: #ff4373;
    font-weight: bold;
    margin: auto;
}
footer button:hover{
    cursor: pointer;
    background-color: #ff4373;
    color: white;
    transition: 0.4s;
}
footer #copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}







/*MOBILE SCREEN*/
@media screen and (max-width:481px){
    
    
    .column{
        display: flex;
        flex-direction: column;
    }
    .column > div{
        width: 100%;
        padding: 50px 30px;
    }
    
    /*HEADER with NAVBAR = HERO*/
    header{
        min-height: 350px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    nav .titlelogo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    nav .titlelogo img{
        width: 170px;
    }
    nav .titlelogo button{
        display: block;
        padding: 9px 14px;
        font-size: 20px;
        outline: none;
        border: none;
        border-radius: 2px;
        color: black;
        background-color: white;
    }
    nav #ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        margin-top: 80px;
        background-color: #27231c;
        height: 0px;
        overflow: hidden;
        transition: 0.4s;
    }
    nav #ul li{
        border-top: solid 1px white;
    }
    
    
    
    /*INTRO*/
    .intro h1{
        font-size: 38px!important;
    }
    
    
    
    /*SECTION-TWO*/
    .contact-info, #section-two-text-line{
        text-align: center;
        margin: auto;
    }
    
    
    
    /*FOOTER*/
    footer #copyright{
        padding: 60px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer #copyright > div{
        padding: 10px 0px!important;
    }
    
    
    
}